{% extends 'base.html' %}

{% block title %}uni.sa Home{% endblock %}

{% block content %}
    <!--gradient canvas-->
    <canvas id="gradient-canvas" data-transition-in></canvas>
    <div class="main-content">
        <h1>UNI.SA</h1>
        <p>University Matchmakers</p>
        <p>Match, Apply, Achieve</p>
    </div>

    <!-- Meet the team section -->
     <section class="team-section">
    <h2>Meet the Team</h2>
    <div class="team-container">
        <div class="team-member">
            <img src="{{ url_for('static', filename='img/home/alex.png') }}" alt="Member 1">
            <h3>Alex Sarkhot</h3>
            <p>Project Lead</p>
        </div>
        <div class="team-member">
            <img src="{{ url_for('static', filename='img/home/thwisha.png') }}" alt="Member 2">
            <h3>Thwisha Mothilall</h3>
            <p>Frontend</p>
        </div>
        <div class="team-member">
            <img src="{{ url_for('static', filename='img/home/osama.png') }}" alt="Member 3">
            <h3>Osama Jeebhai</h3>
            <p>Backend</p>
        </div>
        <div class="team-member">
            <img src="{{ url_for('static', filename='img/home/mishaylin.png') }}" alt="Member 3">
            <h3>Mishaylin Narainsamy</h3>
            <p>Backend/Chatbot</p>
        </div>
       
    </div>
</section>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/gradient.js') }}"></script>
{% endblock %}