{% extends "base.html" %}

{% block head_extras %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
</style>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/profile.css') }}"/>
{% endblock  %}

{% block content %}

<a href="javascript:history.back()" class="back-button">← Back</a>
<div class="profile-page">
<!-- Profile Card -->

  <div class="profile-logo">
    {% if session.get('name') %}{{ session.get('name')[0] }}{% else %}U{% endif %}
  </div>

  {% if session.get('name') %}
  <h2>{{ session.get('name') }}</h2>

  <div class="info-card">
    <div class="info-row">
      <span class="info-label">Email:</span>
      <span>{{ session.get('email') }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Phone:</span>
      <span>{{ session.get('number') }}</span>
    </div>
    <div class="info-row">
      <span class="info-label">Location:</span>
      <span>Cape Town, South Africa</span>
    </div>
    <div class="info-row">
      <span class="info-label">Age:</span>
      <span>{{ session.get('age') }} years old</span>
    </div>
    <div class="info-row">
      <span class="info-label">Company:</span>
      <span>{{ session.get('company_name') }}</span>
    </div>
  </div>
  {% endif %}

  {% if session.get('name') %}
<form action="{{ url_for('edit_profile') }}" method="GET">
    <button type="submit" class="edit-button">Edit Profile</button>
</form>
{% endif %}


</div>
{% endblock content %}
